---
layout: default
---
<div class="post">
  
  {% if page.top_image %}
    <div class="top-banner" style="background-image: url('{{ 'assets/img/' | append: page.top_image | relative_url }}');">
      <div class="top-banner-overlay">
        <div class="top-banner-content container">
          <h2 class="mb-4" style="color: white ! important; font-size: 2rem; margin-bottom: 2rem; margin-top: -10vh;">
            <em>«L’océan nous relie, veillons sur ses doyennes»</em>
          </h2>
          <h1 class="display-4 text-white font-weight-bold mb-3">TRANS OCÉANS TORTUES MARINES</h1>
          <p class="lead text-white">Les acteurs des territoires français pour la conservation des tortues marines à travers le monde</p>
        </div>
      </div>
    </div>
  {% endif %}


  <article>
    <div class="text-center my-5 px-3" style="max-width: 800px; margin-left: auto; margin-right: auto;">
      <p class="lead">
         {{ content }}
      </p>
    </div>

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
